In [1]:
l=[2,4,12,15,12]
sum=0
for i in l:
    sum=sum+i
sum

45

In [2]:
l1=[2,4,12,15,12]
mul=1
for i in l1:
    mul=mul*i
mul

17280

In [3]:
n1=24
n2=32
l1=[]
l2=[]

for i in range(1,n1+1):
    if n1%i==0:
        l1.append(i)
for i in range(1,n2+1):
    if n2%i==0:
        l2.append(i)
for i in l2:
    if i in l1:
        print (i,end=' ')

1 2 4 8

In [4]:
l1,l2

([1, 2, 3, 4, 6, 8, 12, 24], [1, 2, 4, 8, 16, 32])

In [5]:
n1=24
n2=32
l1=[]
l2=[]

for i in range(1,n1+1):
    if n1%i==0:
        l1.append(i)
for i in range(1,n2+1):
    if n2%i==0:
        l2.append(i)
        
l1=set(l1)
l2=set(l2)

l1&l2

{1, 2, 4, 8}

In [6]:
l='alekhya sam ram madhu aaditya anchal deepika'

In [7]:
new_list=l.split()
new_list

['alekhya', 'sam', 'ram', 'madhu', 'aaditya', 'anchal', 'deepika']

In [8]:
la=[]
ld=[]
lm=[]
lr=[]
ls=[]
# type(dict)
for i in new_list:
    if i[0]=='a':
        la.append(i)
    elif i[0]=='d':
        ld.append(i)
    elif i[0]=='m':
        lm.append(i)
    elif i[0]=='r':
        lr.append(i)
    else:
        ls.append(i)

In [9]:
dict={'a':la,'d','m','r','s'}
dict

SyntaxError: invalid syntax (3903807747.py, line 1)

In [ ]:
l='alekhya sam ram madhu aaditya anchal deepika'
l=l.split()
dict={}

for i in l:
    if i[0] in dict.keys():
       dict[i[0]].append(i) 
    else:
        dict[i[0]]=[i]
dict

In [ ]:
type(dict['a'])

In [ ]:
l='alekhya sam ram madhu aaditya anchal deepika'
l=l.split()
my_dict={}

for i in l:
  
    if i[0] in  my_dict.keys():
        my_dict[i[0]].append(i)
    else:     
        my_dict[i[0]]=[i]

In [ ]:
def func(l):
    l=l.split()
    my_dict={}

    for i in l:
        if i[0] in  my_dict.keys():
            my_dict[i[0]].append(i)
        else:     
            my_dict[i[0]]=[i]
    return my_dict

In [ ]:
func('alekhya sam ram madhu aaditya anchal deepika')

In [ ]:
def factors(num):
    l=[]
    num_h=int(num/2)
    for i in range(1,num_h+1):
        if num%i==0:
            l.append(i)
    l.append(num)
    return l

In [ ]:
factors(12)

In [ ]:
def prime_factors(num):

    l=[]    
    for i in range(1,num+1):
        if num%i==0:
            l.append(i)

    if len(l)==2:
        print(num,'is a prime number')
    else:
        print('Factors of',num,'are',l)

In [ ]:
prime_factors(19)

In [ ]:
prime_factors(32)

# print & return

# map & filter

In [ ]:
def even_odd(x):
    if x%2==0:
        return "even"
    else:
        return "odd"

In [ ]:
even_odd(2)

In [ ]:
output = map(even_odd,[1,2,3,4,5])

In [ ]:
list(output)

In [ ]:
def prime(num):
    l2=[i for i in range(1,num+1) if num%i==0]
    
    if len(l2)==2:
        return "prime"
    else:
        return "not prime"

In [ ]:
output = map(prime,[13,20,37,43,57])
list(output)

In [ ]:
lst=[i*i for i in range(1,11)]
lst

In [ ]:
def prime(num):
    l2=[i for i in range(1,num+1) if num%i==0]
    
    if len(l2)==2:
        return True      #Code should be changed a little bit
    else:
        return False

In [ ]:
output=filter(prime,[13,20,37,43,57])
list(output)

In [ ]:
output=filter(prime,range(1,50))
list(output)

In [ ]:
def sqr(x):                    #[1,2,3,4,5] -- len=5
    list_sqr=[]
    for i in range(0,len(x)//2):
        list_sqr.append(x[i]**2)
    for i in list_sqr:
        if i in x:
            return True

In [ ]:
sqr([1,2,3,4,5])

In [ ]:
if_sqr=filter(sqr,range(1,11))
list(if_sqr)

# try exception

In [ ]:
def fun(x,y):
    return x/y

In [ ]:
fun(10,5)

In [ ]:
fun(20,0)

In [ ]:
v1=10
v2=20
v3=20/0
v4=12

In [ ]:
v1,v2

In [ ]:
v3

In [ ]:
v4   #further lines execution is stopped in python
     #This is solved using try and exception

In [ ]:
v1=10
v2=20
try:
    v3=20/0
except:
    v3=10   #This will work when try is error
v4=12

In [ ]:
v3

In [ ]:
v4

In [ ]:
v1=10
v2=20
try:
    v3=20/8  #This will work when try is error
except:
    v3=10   
v4=12

In [ ]:
v3

In [ ]:
def fun(x,y):
    try:
        return x/y
    except:
        return "Zero error. Please give non-zero inputs"

In [ ]:
fun(10,0)

# Local and global variable

In [ ]:
x=20  #local variable

def fun(x):
    y=12
    return y

In [ ]:
y   #It says y is not defined as its a local variable

In [ ]:
fun(10)

In [ ]:
x   #Its global variable

In [ ]:
var1=10
def fun(x):
    var1=20
    x=x+var1
    return x,var1

In [ ]:
fun(10)

In [ ]:
var1  #var1=20 is local so global value will be taken by var1
      #var1 called inside fun() will give me 20 as its local variable available inside fun()

In [ ]:
# To make local var global

In [ ]:
var1=10
def fun(x):
#     var1=20      -- SyntaxError: name 'var1' is assigned to before global declaration
    
    global var1
    var1=20
    x=x+var1
    
    return x

In [ ]:
fun(10)

In [ ]:
var1

In [ ]:
var1=10
def fun(x):
#     var1=20      -- SyntaxError: name 'var1' is assigned to before global declaration
    
    global var1
    var1=30
    del var1
    
    var1=20
    x=x+var1
    
    return x

In [ ]:
fun(20)

In [ ]:
var1  #dlt deletes var1=30 and 20 remains

# Recursion functions

In [ ]:
def fun(x):
    
    if x==0:
        return 10
    else:
        return fun(x-1)

In [ ]:
func(2) #fun(2)-->fun(1)-->fun(0)

In [ ]:
def fun(x):
    
    if x==0:
        return 10
    else:
        return fun(x-1)*2

In [ ]:
fun(2)
#fun(2)-->fun(1)*2-->(fun(0)*2)*2 == 10x4 = 40

In [ ]:
fun(3) # 10x2x2x2=80

In [ ]:
fun(4)

fun(4)-->fun(3)*4-->fun(2)*3*4-->fun(1)*2*3*4

In [ ]:
def fact(x):
    if x==1:
        return 1
    else:
        return fact(x-1)*x

In [ ]:
fact(5)

Fibonacci series

In [ ]:
1,1,2,3,5,8,13,......

In [38]:

def fib(num):
    f=0
    s=1
    print(s)
    for i in range(1,num):
        t=f+s
        f=s
        s=t
        print(t)

In [39]:
fib(5)

1
1
2
3
5

In [32]:
def fibonacci(x):
    if x==1 or x==2:
        return 1
    else:
        return fibonacci(x-1)+fibonacci(x-2)

In [33]:
fibonacci(5)

5

In [37]:
series=map(fibonacci,range(1,11))
list(series)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Lambda function

In [ ]:
list comp replaces for loop
lambda replaces def func

In [40]:
def mul(x,y):
    return x*y

In [41]:
mul(2,3)

6

In [43]:
multiply=lambda x,y:x*y

In [44]:
multiply(2,3)

6

In [45]:
even_odd=lambda x:"even" if x%2==0 else "odd"

In [46]:
even_odd(5)

'odd'

In [54]:
factors=lambda x:[i for i in range(1,x+1) if x%i==0]

In [55]:
factors(6)

[1, 2, 3, 6]

In [57]:
%%time
factors(24)

CPU times: total: 0 ns
Wall time: 0 ns

[1, 2, 3, 4, 6, 8, 12, 24]

#### Using lambda
* GCD
* prime
* fibonacci

In [58]:
a=10
b=20
factors(10),factors(20)

([1, 2, 5, 10], [1, 2, 4, 5, 10, 20])

In [74]:
# factor=lambda x:[i for i in range(1,x+1) if x%i==0]
# gcd=map(factor,[10,20])
# list(gcd)

a=100
b=500

gcd=map(lambda x:[i for i in range(1,x+1) if x%i==0],[a,b])
list_1=list(gcd)
list_2=[]
for i in list_1:
    list_2.append(max(i))
print(f'GCD is {min(list_2)}')

GCD is 100

In [83]:
def get_gcd(a,b):
    gcd=map(lambda x:[i for i in range(1,x+1) if x%i==0],[a,b])
    list_1=list(gcd)
    list_2=[]
    for i in list_1:
        list_2.append(max(i))
    print(f'GCD of {a} and {b} : {min(list_2)}')

In [84]:
get_gcd(100,500)

GCD of 100 and 500 : 100